.spinner-DotLoader {
  margin-top: 300px;
  margin-left: 650px;
  margin-right: 650px;
}

.slogan {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.checkout .btn {
  border-radius: 6px;
  margin-right: 20px;
  font-weight: bold;
}

.btn {
    color: black;
    padding: 10px;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0s;
}

  .about-image img:hover {
    transform: scale(0.95);
    transition: 0s;
  }

  .icons svg:hover {
    transform: scale(1.30);
    transition: 0s;
  }

  .card img:hover {
    transform: scale(0.95);
    transition: 0s;
  }

  .cart-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    background-color: gainsboro;
    text-align: center;
  }

  .title-about {
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
  }

  .about-image {
    display: grid;
    grid-template-columns: auto auto;
    padding: 160px;
    margin-top: -150px;
    gap: 3rem;
  }

  .card-cart {
    border-radius: 6px;
    height: 490px;
    width: 1330px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto auto;
  }

  .card-cart .row {
    padding: -30px;
    width: 200px;
  }

  .card-cart img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 6px;
  }

  .card-cart img:hover {
    transform: scale(1.05);
    transition: 0s;
  }

  .card-cart .title-cart {
    margin-left: 50px;
    margin-top: -30px;
    font-weight: bold;
  }

  .card-cart .price-cart {
    margin-left: 50px;
    margin-top: -60px;
    font-weight: bold;
  }

  .card-cart .btn-cart {
    margin-top: -90px;
    margin-left: 90px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    gap: 3rem;
  }

  .card-cart .btn-cart:hover {
    transform: scale(1.2);
  }

  .card-cart .total-cart {
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
  }

  :root {
    --btn-close-width:            1em;
--btn-close-height:           --btn-close-width;
--btn-close-padding-x:        .25em;
--btn-close-padding-y:        --btn-close-padding-x;
--btn-close-color:            --black;
--btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
--btn-close-focus-shadow:     --input-btn-focus-box-shadow;
--btn-close-opacity:          .5;
--btn-close-hover-opacity:    .75;
--btn-close-focus-opacity:    1;
--btn-close-disabled-opacity: .25;
--btn-close-white-filter:     invert(1) grayscale(100%) brightness(200%);
  }