footer {
    background-color: black;
}

.btn {
    color: white;
}

footer .fab {
    color: white;
}

footer .text-light {
    text-decoration: none;
}

.spinner-DotLoader {
    margin-top: 300px;
    margin-left: 650px;
    margin-right: 650px;
  }